@import "tailwindcss";

:root {
  --font-size: 16px;
  --background: #fff;
  --foreground: #1a1a1a;
  --card: #fff;
  --card-foreground: #1a1a1a;
  --popover: #fff;
  --popover-foreground: #1a1a1a;
  --primary: #b91c1c;
  --primary-foreground: #fff;
  --secondary: #f5f5f5;
  --secondary-foreground: #1a1a1a;
  --muted: #f8f8f8;
  --muted-foreground: #6b6b6b;
  --accent: #fafafa;
  --accent-foreground: #1a1a1a;
  --destructive: #dc2626;
  --destructive-foreground: #fff;
  --border: #1a1a1a26;
  --input: transparent;
  --input-background: #f8f8f8;
  --switch-background: #e5e5e5;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #b91c1c;
  --chart-1: #b91c1c;
  --chart-2: #f59e0b;
  --chart-3: #10b981;
  --chart-4: #3b82f6;
  --chart-5: #8b5cf6;
  --radius: .625rem;
  --sidebar: #fff;
  --sidebar-foreground: #1a1a1a;
  --sidebar-primary: #b91c1c;
  --sidebar-primary-foreground: #fff;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #1a1a1a;
  --sidebar-border: #1a1a1a26;
  --sidebar-ring: #b91c1c;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #1a1a1a;
  --card-foreground: #fafafa;
  --popover: #1a1a1a;
  --popover-foreground: #fafafa;
  --primary: #dc2626;
  --primary-foreground: #fff;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #1f1f1f;
  --muted-foreground: #a3a3a3;
  --accent: #171717;
  --accent-foreground: #fafafa;
  --destructive: #ef4444;
  --destructive-foreground: #fff;
  --border: #fafafa26;
  --input: #1f1f1f;
  --ring: #dc2626;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: #dc2626;
  --chart-2: #fbbf24;
  --chart-3: #34d399;
  --chart-4: #60a5fa;
  --chart-5: #a78bfa;
  --sidebar: #0a0a0a;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #dc2626;
  --sidebar-primary-foreground: #fff;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #fafafa26;
  --sidebar-ring: #dc2626;
}

html {
  font-size: var(--font-size);
}
